<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Pengaturan Instansi</h5>
            </div>
            <form action="/instansi" method="post">
                <div class="card-body">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label>Nama Instansi</label>
                        <input type="text" class="form-control" id="instansi" name="instansi" placeholder="Nama Instansi" value="<%= q_instansi? q_instansi.instansi: (oldInput ? oldInput.instansi: '') %> ">
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <input type="alamat" class="form-control" id="alamat" name="alamat" placeholder="Alamat Instansi" value="<%= q_instansi? q_instansi.alamat: (oldInput ? oldInput.alamat: '') %>">
                    </div>                        
                </div>
                <div class="card-footer">
                    <button class="btn w-25 float-right btn-primary">Simpan</button>
                </div>
            </form>   
        </div>
    </div>
</div>