<div class="col-lg-4">
    <div class="card">
        <div class="card-header bg-secondary">            
            <h4 class="text-center text-bold"><%= q_user.fullname %>  </h4>
            <h6 class="text-center"><%= q_user.email %> </h6>
        </div>
        <div class="card-body text-center">
            <h5>Hak akses</h5>
            <p><%= q_user.moduleName %> </p>
        </div>
        <div class="card-footer">
            <p class="text-sm text-center">Untuk permintaan perubahan data, silahkan hubungi Admin</p>
        </div>
    </div>
</div>