<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon fas fa-file" ></i>
    <p >Dokumen</p>
    <i class="right fas fa-angle-left"></i>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="#" class="nav-link" onclick="menu('Suratmasuk')">
        <i class="fa fa-circle nav-icon" ></i>
        <p >Surat Masuk</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" onclick="menu('Disposisi')">
        <i class="fa fa-circle nav-icon"  ></i>
        <p  >Disposisi</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" onclick="menu('Suratkeluar')">
        <i class="fa fa-circle nav-icon"  ></i>
        <p  >Surat Keluar</p>
      </a>
    </li>
  </ul>
</li>