<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="card">
            <div class="card-header">
                <h5>Welcome <%= session.user.fullname %> </h5>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12  ">
        <div class="card">
            <div class="card-header">
                <h5>Buat Surat Tampa Menggunakan Rekomendasi </h5>
            </div>
            <div class="card-header">
                <div id="lisdataHeader"></div>
            </div>
        </div>
        
    </div>
</div>