<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>Halaman Dashboard</h3>
            </div>
            <div class="card-body">
                <div class="d-flex col-md-12 col-sm-12">
                    <div class="card" style="margin-left: 2rem;">
                        <div class="card-body" style="background-color: #87b5eb; width:16rem; height: 9rem;">
                            <div class="d-flex" style="justify-content: space-between;">
                                <div class="flex-column">
                                    <div class="position-relative" style="top: -2rem">
                                        <p style="font-size: 3rem; color: white;">5</p>
                                    </div>
                                    <div class="position-relative" style="top:-3rem">
                                        <p style="font-size: 1.5rem; color:white">Surat Masuk</p>
                                    </div>
                                </div>
                                <div class="position-relative" style="top:-1rem">
                                    <i class="fa fa-envelope" style="font-size: 3.5rem;opacity: 0.5;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-left: 2rem;">
                        <div class="card-body" style="background-color: #50c86e; width: 16rem; height: 9rem;">
                            <div class="d-flex" style="justify-content: space-between;">
                                <div class="flex-column">
                                    <div class="position-relative" style="top:-2rem">
                                        <p style="font-size: 3rem; color:white;">5</p>
                                    </div>
                                    <div class="position-relative" style="top:-3rem">
                                        <p style="font-size: 1.5rem; color:white">Surat Keluar</p>
                                    </div>
                                </div>
                                <div class="position-relative" style="top:-1rem">
                                    <i class="fa fa-envelope" style="font-size: 3.5rem; opacity:0.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-left: 2rem;">
                        <div class="card-body" style="background-color: #ffbf00; width: 16rem; height: 9rem;">
                            <div class="d-flex" style="justify-content: space-between;">
                                <div class="flex-column">
                                    <div class="position-relative" style="top:-2rem">
                                        <p style="font-size:3rem; color:black">4</p>
                                    </div>
                                    <div class="position-relative" style="top:-3rem">
                                        <p style="font-size: 1.5rem; color:black">Bagian</p>
                                    </div>
                                </div>
                                <div class="position-relative" style="top:-0.5rem">
                                    <i class="fa fa-user-plus" style="font-size: 3.5rem; opacity:0.5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-left: 2rem;">
                        <div class="card-body" style="background-color: rgb(220 38 38); width:16rem; height: 9rem;">
                            <div class="d-flex" style="justify-content: space-between;">
                                <div class="flex-column">
                                    <div class="position-relative" style="top:-2rem">
                                        <p style="font-size: 3rem; color:white">8</p>
                                    </div>
                                    <div class="position-relative" style="top:-3rem">
                                        <p style="font-size:1.5rem; color:white">Sub Bagian</p>
                                    </div>
                                </div>
                                <div class="position-relative" style="top:-0.5rem">
                                    <i class="fa fa-user-plus" style="font-size: 3.5rem; opacity: 0.5;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>Surat Tanggal Masuk</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12 col-sm-12">
                    <table id="datamasuk" style="width: 100%; ">
                        <thead>
                            <tr>
                                <th style="border: 1px solid gray;">No</th>
                                <th style="border: 1px solid gray;">Nomor Surat</th>
                                <th style="border: 1px solid gray;">Asal Surat</th>
                                <th style="border: 1px solid gray;">Tanggal Surat</th>
                                <th style="border: 1px solid gray;">Isi Surat</th>
                                <th style="border: 1px solid gray;">Status</th>
                                <th style="border: 1px solid gray;">File</th>
                                <th style="border: 1px solid gray;">Tampil</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function (){
   
})
</script>