<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="card">
            <div class="card-header">
                <h5>DEBUG</h5>
            </div>
            <div class="card-body">
                <pre><%- data %> </pre>
            </div>
        </div>


    </div>
</div>