<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="card">
            <div class="card-header">
                ini adalah frontpage
            </div>
        </div>


    </div>
</div>