<div class="card">
    <div class="card-body">
        <h4 class="card-title">Login</h4>
        <form action="/login" id="loginForm" method="POST" class="my-login-validation" novalidate="">
            <div class="form-group">
                <label for="inputEmail">E-Mail Address</label>
                <input id="inputEmail" type="email" class="form-control" name="inputEmail" value="" required autofocus>
                <div class="invalid-feedback">
                    Email is invalid
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password
                    <a href="/forgot-password" class="float-right">
                        Forgot Password?
                    </a>
                </label>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input id="inputPassword" type="password" class="form-control" name="inputPassword" required data-eye>
                <div class="invalid-feedback">
                    Password is required
                </div>
            </div>

            <div class="form-group">
                <div class="custom-checkbox custom-control">
                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                    <label for="remember" class="custom-control-label">Remember Me</label>
                </div>
            </div>
            <% if (errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %> 
                </div>
             
            <% } %>
           
            <div class="form-group m-0">
                <button type="button" id="btnLoginSubmit" class="btn btn-primary btn-block">
                    Login
                </button>
            </div>
            <% if (canRegister) { %>
                <div class="mt-4 text-center">
                    Don't have an account? <a href="/sign-up">Create One</a>
                </div>             
            <% } %>
            
        </form>
    </div>
</div>

<script type="text/javascript">
    $('#loginForm input').on('keypress', function () {
        $(this).parent().removeClass('has-error');
        $('.help-txt').remove();
    });

    $('#btnLoginSubmit').on('click', function () {
        var is_valid = true;
        var inpEmail = $('#inputEmail');
        var inpPwd = $('#inputPassword');
        $('#loginForm input').removeClass('has-error');
        $('.help-txt').remove();
        if (inpEmail.val() == '') {
            inpEmail.parent().addClass('has-error');
            inpEmail.focus();
            inpEmail.parent().append('<span class="help-txt">Email is required</span>');
            is_valid = false;
        } else if (isEmail(inpEmail.val()) == false) {
            inpEmail.parent().addClass('has-error');
            inpEmail.focus();
            inpEmail.parent().append('<span class="help-txt"> Please enter a valid email</span>');
            is_valid = false;
        }
        if (inpPwd.val() == '') {
            inpPwd.parent().addClass('has-error');
            inpPwd.focus();
            inpPwd.parent().append('<span class="help-txt">Password is required</span>');
            is_valid = false;
        }
        if (is_valid) {
            var form = $('#loginForm');
            var url = form.attr('action');
            $(this).html('Please wait...');
            $(this).attr('disabled', 'disabled');
            form.submit();
        } else {
            return false;
        }
    });
</script>