<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Ganti password</h5>
            </div>
            <form id="formGanti" action="/profile-changepassword" method="post">
                <div class="card-body">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= session.userId %> ">
                    <div class="form-group">
                        <label>Password baru</label>
                        <div class="input-group mb-3">
                            <input id="password1" type="password" class="form-control" name="password1" value="" required autofocus placeholder="Password baru">
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="fas fa-eye-slash toogle-password"></span></div>
                            </div>
                        </div>
                        <span id="pass1error" class="text-red error"></span>
                    </div>
                    <div class="form-group">
                        <label>Password baru sekali lagi</label>
                        <div class="input-group mb-3">
                            <input id="password2" type="password" class="form-control" name="password2" value="" required autofocus placeholder="Ulangi password baru sekali lagi">
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="fas fa-eye-slash toogle-password"></span></div>
                            </div>
                        </div>
                        <span id="pass2error" class="text-red error"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="btnSubmit" class="btn btn-primary text-white float-right">Ganti password</button>
                </div>
            </form>
            <script>
                $('#formGanti input').on('keypress', function () {
                    $('.error').html('');
                });
                $('.toogle-password').click(function() {
                    $('.toogle-password').toggleClass("fa-eye fa-eye-slash");
                    var input = $("#password1");
                    input.attr("type") === "password" ? input.attr("type", "text") : input.attr("type", "password");

                    var input = $("#password2");
                    input.attr("type") === "password" ? input.attr("type", "text") : input.attr("type", "password");
                });
                $('#btnSubmit').on('click', function () {
                    var is_valid = true;
                    var pass1 = $('#password1');
                    var pass2 = $('#password2');
                    $('.error').html('');                    
                    if (pass1.val() == '') {
                        pass1.focus();
                        $('#pass1error').html('Password wajib diisi');
                        is_valid = false;
                    } else if(pass1.val()!=pass2.val()) {
                        pass2.focus();
                        $('#pass2error').html('Password tidak sama');
                        is_valid = false;
                    }
                    if (is_valid) {
                        var form = $('#formGanti');
                        var url = form.attr('action');
                        $(this).html('Please wait...');
                        $(this).attr('disabled', 'disabled');
                        form.submit();
                    } else {
                        return false;
                    }
                });
            </script>
        </div>
    </div>
</div>