<dive class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Upload file</h5>
            </div>
            <form id="form-pengguna"  enctype="multipart/form-data" action="/upload?_csrf=<%=csrfToken%>" method="post">
                <div class="card-body">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" class="form-control" id="filename" name="filename">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn w-25 float-right btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</dive>