<li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas  fa-gears"></i>
      <p>
        Public
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="#" class="nav-link" onclick="menu('dashboard')">
          <i class="fa fa-check nav-icon"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-check nav-icon"></i>
          <p>menu 2</p>
        </a>
      </li>
     
      </li>
      
    </ul>
</li>